
<!-- layouts/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ printf "%s/%s/head" .Page.File.Dir "index" }}
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.client.min.js"></script>
  </head>
  <body>
     {{ printf "%s/%s/head" .Page.File.Dir "index" }}
     <div id="shooter-container"></div>
     <div id="tetris-container"></div>

     <!-- Load games -->
     <script src="{{ relURL "js/shooter.js" }}"></script>
     <script src="{{ relURL "js/tetris.js" }}"></script>
  </body>
</html>
